<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pseudoeuicc"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="35" />

    <application
        android:label="PseudoEuicc"
        android:hasCode="true"
        android:allowBackup="false">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposeddescription"
            android:value="Force slot 2 to be treated as an eUICC (mIsEuicc=true) and make UiccSlot.isEuicc() return true." />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />

        <activity android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>